## Trabajar con archivos locales

In [21]:
import pandas as pd

In [34]:
#studentDf=pd.read_csv("../../DataSet/student-por.csv",delimiter=';')
studentDf=pd.read_csv("../../DataSet/top_colleges_2022.csv",delimiter=',')
#studentDf.head()
studentDf

,description,rank,organizationName,state,studentPopulation,campusSetting,medianBaseSalary,longitude,latitude,website,...,yearFounded,stateCode,collegeType,carnegieClassification,studentFacultyRatio,totalStudentPop,undergradPop,totalGrantAid,percentOfStudentsFinAid,percentOfStudentsGrant
0,"A leading global research university, MIT attr...",1,Massachusetts Institute of Technology,MA,12195,Urban,173700.0,-71.093539,42.359006,http://web.mit.edu,...,1861.0,MA,Private not-for-profit,Doctoral Universities: Very High Research Acti...,3,12195,4582,35299332.0,75.0,60.0
1,Stanford University sits just outside of Palo ...,2,Stanford University,CA,20961,Suburban,173500.0,-122.168924,37.431370,http://www.stanford.edu,...,1891.0,CA,Private not-for-profit,Doctoral Universities: Very High Research Acti...,4,20961,8464,51328461.0,70.0,55.0
2,One of the top public universities in the coun...,2,"University of California, Berkeley",CA,45878,Urban,154500.0,-122.258393,37.869236,http://www.berkeley.edu,...,1868.0,CA,Public,Doctoral Universities: Very High Research Acti...,19,45878,33208,64495611.0,63.0,53.0
3,Princeton is a leading private research univer...,4,Princeton University,NJ,8532,Urban,167600.0,-74.659119,40.349855,http://www.princeton.edu,...,1746.0,NJ,Private not-for-profit,Doctoral Universities: Very High Research Acti...,4,8532,5516,44871096.0,62.0,61.0
4,"Located in upper Manhattan, Columbia Universit...",5,Columbia University,NY,33882,Urban,148800.0,-73.961288,40.806515,http://www.columbia.edu,...,1754.0,NY,Private not-for-profit,Doctoral Universities: Very High Research Acti...,6,33882,8689,44615007.0,58.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,St. Josephâ€™s College is a private institution ...,494,St. Joseph's College (NY),NY,5901,Urban,100900.0,-73.968304,40.690548,http://www.sjcny.edu,...,1916.0,NY,Private not-for-profit,Master's Colleges & Universities: Medium Programs,12,5901,4429,11919881.0,99.0,99.0
494,A liberal arts college founded by the Moravian...,495,Moravian University,PA,2961,Urban,109800.0,-75.381596,40.630303,http://www.moravian.edu,...,1742.0,PA,Private not-for-profit,Baccalaureate Colleges: Arts & Sciences Focus,11,2961,2268,12685943.0,100.0,100.0
495,Lawrence Technological University in Southfiel...,496,Lawrence Technological University,MI,3163,Urban,119900.0,-83.278458,42.450606,http://https://www.ltu.edu,...,NaN,MI,Private not-for-profit,Master's Colleges & Universities: Larger Programs,11,3163,2286,5639254.0,97.0,96.0
496,"Saint Martinâ€™s University in Lacey, WA, one of...",497,Saint Martin's University,WA,1980,Urban,102100.0,NaN,NaN,NaN,...,NaN,WA,Private not-for-profit,Master's Colleges & Universities: Medium Programs,12,1980,1644,9759540.0,99.0,99.0
497,The University of Memphis is a large public re...,498,University of Memphis,TN,25128,Urban,90700.0,-89.939618,35.118453,http://www.mephis.edu,...,1912.0,TN,Public,Doctoral Universities: High Research Activity,16,25128,20011,27575189.0,98.0,97.0

#### Conocer tipo de datos

In [31]:
## Se muestran dos tipos de datos, object que es un string ,int64 que es un valor entero y float nÃºmero decimal
studentDf.dtypes

description                 object
rank                         int64
organizationName            object
state                       object
studentPopulation            int64
campusSetting               object
medianBaseSalary           float64
longitude                  float64
latitude                   float64
website                     object
phoneNumber                 object
city                        object
country                     object
state.1                     object
region                      object
yearFounded                float64
stateCode                   object
collegeType                 object
carnegieClassification      object
studentFacultyRatio          int64
totalStudentPop              int64
undergradPop                 int64
totalGrantAid              float64
percentOfStudentsFinAid    float64
percentOfStudentsGrant     float64
dtype: object

#### InformaciÃ³n sobre el tipo de datos de DataFrame

In [32]:
studentDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   description              498 non-null    object
 1   rank                     498 non-null    int64
 2   organizationName         498 non-null    object
 3   state                    498 non-null    object
 4   studentPopulation        498 non-null    int64
 5   campusSetting            498 non-null    object
 6   medianBaseSalary         491 non-null    float64
 7   longitude                458 non-null    float64
 8   latitude                 458 non-null    float64
 9   website                  477 non-null    object
 10  phoneNumber              428 non-null    object
 11  city                     498 non-null    object
 12  country                  498 non-null    object
 13  state.1                  498 non-null    object
 14  region                   489 non-null    object
 15  yearFounded              451 non-null    float64
 16  stateCode                489 non-null    object
 17  collegeType              498 non-null    object
 18  carnegieClassification   498 non-null    object
 19  studentFacultyRatio      498 non-null    int64
 20  totalStudentPop          498 non-null    int64
 21  undergradPop             498 non-null    int64
 22  totalGrantAid            495 non-null    float64
 23  percentOfStudentsFinAid  495 non-null    float64
 24  percentOfStudentsGrant   495 non-null    float64
dtypes: float64(7), int64(5), object(13)
memory usage: 97.4+ KB

#### Convertir Columna de nombre undergradPop  a float con la funciÃ³n 'astype'

In [36]:
studentDf['undergradPop']=studentDf['undergradPop'].astype('float')

In [37]:
#studentDf.head()
studentDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   description              498 non-null    object
 1   rank                     498 non-null    int64
 2   organizationName         498 non-null    object
 3   state                    498 non-null    object
 4   studentPopulation        498 non-null    int64
 5   campusSetting            498 non-null    object
 6   medianBaseSalary         491 non-null    float64
 7   longitude                458 non-null    float64
 8   latitude                 458 non-null    float64
 9   website                  477 non-null    object
 10  phoneNumber              428 non-null    object
 11  city                     498 non-null    object
 12  country                  498 non-null    object
 13  state.1                  498 non-null    object
 14  region                   489 non-null    object
 15  yearFounded              451 non-null    float64
 16  stateCode                489 non-null    object
 17  collegeType              498 non-null    object
 18  carnegieClassification   498 non-null    object
 19  studentFacultyRatio      498 non-null    int64
 20  totalStudentPop          498 non-null    int64
 21  undergradPop             498 non-null    float64
 22  totalGrantAid            495 non-null    float64
 23  percentOfStudentsFinAid  495 non-null    float64
 24  percentOfStudentsGrant   495 non-null    float64
dtypes: float64(8), int64(4), object(13)
memory usage: 97.4+ KB

## SelecciÃ³n de datos